<?xml version="1.0"?>
<model>
  <name>marker36</name>
  <version>1.0</version>
  <description>
    Aruco marker 36 of 8 cm side length
  </description>
  <author>
    <name>Carmine Recchiuto</name>
    <email>carmine.recchiuto@dibris.unige.it</email>
  </author>
  <sdf version='1.3'>marker36.sdf</sdf>
</model>


