<?xml version="1.0"?>
<model>
  <name>marker20</name>
  <version>1.0</version>
  <description>
    Aruco marker 20 of 8 cm side length
  </description>
  <author>
    <name>Carmine Recchiuto</name>
    <email>carmine.recchiuto@dibris.unige.it</email>
  </author>
  <sdf version='1.3'>marker20.sdf</sdf>
</model>


